################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/release
/test/debug
/src/release
/src/debug
/test/testcases
/src/MosaicMagnifique.vcxproj.user
/test/test.vcxproj.user
/src/MosaicMagnifique_resource.aps
/src/MosaicMagnifique-CUDA.vcxproj.user
/src/vc140.pdb
/src/debugCUDA
/src/releaseCUDA
/build
/src/Release-x64
/src/Debug-x64
/src/Release-x64-CUDA
/src/Debug-x64-CUDA
/src/gui/ui_PhotomosaicViewer.h
/src/gui/ui_MainWindow.h
/src/gui/ui_ImageSquarer.h
/src/gui/ui_ImageLibraryeditor.h
/src/gui/ui_GridEditor.h
/src/gui/ui_ColourVisualisation.h
/src/gui/ui_CellShapeEditor.h
/test/vc140.pdb
