################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/test/testcases/
*.aps
*.vcxproj.user
build/
Release*/
Debug*/
ui_*.h
*.pdb
